.leaflet-container {
    font-size: 12px;
    font-size: .75rem;
    line-height: 1.5;
    /* background-color: transparent; */
    /* background-color: "var(--bg-color)"; */
    background-color: var(--bg-color);
    background-color: rgba(255, 0, 0, 0.0);
    margin-top: 150px;
    position: relative;
    height: 100vh;
    animation: fadeInLeaflet 1.5s ease forwards 2s;
    /* filter: var(--map-tiles-filter, none); */
}

.map-bg-color {
    background-color: var(--bg-color);
}

@media (prefers-color-scheme: dark) {
    .map-tiles {
        filter: var(--map-tiles-filter, none);
    }
}

.interaction_map_container {
    margin-bottom: 200px;
}

.location_marker_container {
    height: 50vh;
    border: 1px solid black;
}



/* office locaiotn */

.map___container {
    position: relative;
}

.stats___container {
    position: absolute;
    background-color: var(--bg-color);
    top: 40px;
    right: 40px;
    /* height: 200px; */
    /* width: 200px; */
    padding: 10px;
    z-index: 999;
}

.district-label {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-weight: bold;
    background-color: white;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



/* heritage_map_container */
.heritage_map_container {
    /* margin-left: 10%;
    margin-right: 10%; */
}