/* .legend {
    width: 50%; */
/* color: red;
} */

.home-slider {
    width: 100vw;
    height: 70vh;
    /* margin-left: 20%; */
    /* margin-right: 10%; */
}

.home-slider-item img {
    height: 90vh;
    width: 100vw;
    object-fit: cover;
}

.slider-item-content h3 {
    font-size: 24px;
    /* color: var(--secondary-color); */
    text-align: left;
    /* font-family: Fredoka One; */
}

.slider-item-content p {
    font-size: 16px;
    /* color: var(--secondary-color); */
    font-weight: normal;
    text-align: left;
    /* font-family: Source Sans Pro; */
}



.slider-item-content {
    margin-bottom: 40px;
    border-radius: 20px;
    /* width: 50%; */
    /* background-color: var(--bg-color); */
    background-color: black;

    padding: 30px 30px 30px 30px;
}

.slider-item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start
}

.carousel-control-next,
.carousel-control-prev {
    /* text-align: left;
    margin-top: 50px; */
    display: none;
}

.carousel .carousel-indicators button {
    /* background-color: var(--bg-div-overlay-color); */
    border: none;
    border-radius: 50%;
    /* width: 10px;
    height: 10px; */
    display: none;
}