.container_search {
    /* height: 60%; */
    width: 100%;
    /* background-image: linear-gradient(rgb(129, 96, 221), rgb(86, 67, 129)); */
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar,
.search-bar-body {
    width: 100%;
    /* max-width: 1000px; */

    /* background: var(--bg-div-overlay-color); */
    /* background: var(--bg-div-overlay-color); */
    background-color: #E6E6E6;
    display: flex;
    align-items: center;
    border-radius: 40px;
    /* border-color: rgba(129, 96, 221); */
    padding: 10px;
    height: 60px;
}

.search-bar {
    height: 40px;
    border-radius: 20px;
}

.search-bar-body {
    background-color: #E6E6E6;

}

.search-bar input,
.search-bar-body input {
    background: transparent;
    flex: 1;
    border: 0;
    padding: 24px 20px;
    font-size: 16px;
    /* color: #cccc; */
    color: black;

}

.search-bar ::placeholder {
    color: black;
    opacity: 1;
    /* Firefox */
}


.search-bar input:focus,
input:focus {
    outline: none;
}

::placeholder {
    color: whitesmoke;
}

.search-bar-body ::placeholder {
    color: var(--text-color-search);
}

.search-bar .icon-search {
    border: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.search-bar-body .btn-search {
    border: 0;
    border-radius: 20px;
    font-size: 12px;
    padding: 8px;
    font-weight: bold;
    background-color: rgba(255, 0, 0, 1);
    color: white;
}


.main-search {
    background: #fff;
    border-radius: 0;
    box-shadow: 0 2px 16px rgba(0, 0, 0, .1);
    font-size: 16px;
    height: auto;
    left: 0;
    margin: 0 auto;
    /* opacity: 0; */
    padding: 70px 120px;
    position: fixed;
    right: 0;
    top: 0;
    /* transition: visibility .5s ease, opacity .5s ease;
    visibility: hidden; */
    width: 100%;
    z-index: 150;
}

.search-field {
    position: relative;
}

.innerinput {

    align-items: center;
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
}

.main-search .search_field_bar {
    padding-left: 33px;
    width: calc(100% - 170px);
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.search_field_input {
    background: rgba(0, 0, 0, .1);
    border: 1px solid transparent;
    border-radius: 12px;
    color: rgba(0, 0, 0, .8);
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 3px;
    padding: 12px 15px;
    width: 90% !important;
}

.search_field_input::placeholder {
    color: black;
}

.main-search .search_field_bar .btn-search {
    background: #020202;
    border-radius: 12px;
    cursor: pointer;
    padding: 10px 28px;
    position: absolute;
    right: 0;
    top: 10;
    color: white;
    /* color: var(--bg-color); */
}

.close-btn {
    cursor: pointer;
    position: absolute;

    right: 150px;
    top: 30px;
    /* z-index: 010000; */
}

/* .close-btn i {
    color: red;
    height: 20px;
    width: 200px;
    z-index: 9999;
} */