.site__header {
    top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    /* background-color: var(--bg-color); */
    /* border-bottom: 1px ; */

}

.site__header__color {
    top: 0px;
    margin-top: 0;
    padding-top: 0px;
    padding-right: 0px;
    background-color: var(--bg-color);
    height: 100px;
    /* border-bottom: 1px solid red; */
}

.nav__color {
    width: 90%;
    margin: 0 auto 0px;
    /* padding-top: 12px; */
    /* padding-bottom: 10px; */
    background-color: var(--bg-color);

}

.nav__color ul {
    /* margin-top: -40px; */

}

.menu__button {
    color: var(--text-color);
}

.menu__button:focus,
.menu__button:hover {
    color: var(--text-color);
    box-shadow: unset;
}

.menu__button svg {
    width: 2em;
    height: 2em;
    fill: var(--text-color-2);
    color: var(--text-color-2);
}

.nav_ac {
    padding: 5px 15px;
    margin: 0;
    border: unset;
    /* background: var(--primary-color); */
    font-size: 1.25rem;
    font-family: 'Montserrat-light';
    color: var(--text-color-2);
    line-height: 2;
    height: 50px;
    font-weight: bold;
    z-index: 1000;
}

.nav_ac:hover {
    color: var(--text-color-2);
}

.br-top,
.br-bottom,
.br-right,
.br-left {
    position: fixed;
    z-index: 999999;
    background: var(--primary-color);
}

.br-top {
    top: 0;
    height: 10px;
    left: 0;
    width: 100%;
}

.br-bottom {
    bottom: 0;
    left: 0;
    height: 10px;
    width: 100%;
}

.br-right {
    width: 10px;
    right: 0;
    top: 0;
    height: 100%;
}

.br-left {
    width: 10px;
    left: 0;
    top: 0;
    height: 100%;
}

.cortina__wrapper-menu {
    position: relative;
    width: 100%;
    padding-top: 5em;
    padding-bottom: 3em;
    height: 100%;
    overflow-y: auto;
}

.site__navigation {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;
}

.menu__opend {
    visibility: visible !important;
}

.main__menu_ul,
.menu_right {
    opacity: 0;
    position: relative;
    transition: 0.5s;
    transition-delay: 0s;
    visibility: hidden;
    z-index: 100;
}

.menu_right {
    text-align: center;
}

.site__navigation.menu__opend .main__menu_ul,
.site__navigation.menu__opend .menu_right {
    opacity: 1;
    transition-delay: 0.6s;
    visibility: visible;
}

.site__navigation .main__menu_ul li {
    list-style: none;
    margin: 10px 0;
}

.site__navigation .main__menu_ul li a {
    color: var(--text-color);
    display: block;
    font-size: 2.5rem;
    text-decoration: none;
}

.bg__menu {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    will-change: transform;
    transform: translateY(-100%);
    transition: .5s ease all;
}

.menu__opend .bg__menu {
    transform: translateY(0);
}

.menu__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden auto;
}

.the_menu {
    padding-top: 20vh;
    padding-bottom: 20vh;
    padding-left: 0;
}

@media (min-width: 992px) {
    .menu__container {
        margin-left: 33.3333%;
    }

    .the_menu {
        padding-top: 10vh;
        padding-bottom: 10vh;
    }
}

.the_menu .menu_item>a {
    color: var(--text-color-2);
    line-height: 1;
    font-size: 2rem;
    display: inline-block;
    position: relative;
    transition: color 250ms cubic-bezier(0, 0, 0.58, 1) 0s;
    padding: 4px 0px;
    text-decoration: none;
    font-family: 'Montserrat-light';
}

.the_menu .menu_item>a:hover {
    color: var(--text-color-3);
}

@media (min-width: 768px) {
    .the_menu .menu_item>a {
        font-size: 4.8vw;
    }
}

.menu_footer {
    bottom: 0;
    font-family: 'Montserrat-light';
    font-size: 14px;
    background: var(--primary-color);
}

.menu_footer a {
    color: var(--text-color-2);
    margin-right: 10px;
    text-decoration: none;
}

.sign__up {
    border: 1px solid;
    border-radius: 40px;
    /* height: 50px; */
    /* width: 100px; */
    border: 2px solid rgba(0, 0, 0, .1);
    font-size: 14px;
    align-items: center;
    font-family: 'Montserrat-light';
    letter-spacing: 0px;
    font-weight: bold;
    line-height: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;

    /* background: var(--bg-div-overlay-color); */
    /* background: rgba(red, green, blue, 0.9); */

}

nav {
    /* height: var(--navheight); */
    /* border-top: 1px solid rgb(255, 255, 255, 0.2); */
    width: 90%;
    /* margin: 10px auto 0px; */

    padding-bottom: 10px;
}

nav h4 {
    /* color: var(--white); */
    /* line-height: var(--navheight); */
    /* text-transform: uppercase; */

    letter-spacing: 2px;
    float: left;
    /* padding: 0px 60px; */


}

nav i {
    font-size: 11px;
}

nav ul li ul li i {
    float: right;
}

nav ul {
    /* padding-top: 10px; */
    float: right;
    display: flex;
    align-items: center;
}

nav ul li {
    position: relative;
    float: left;
    list-style-type: none;
    text-transform: capitalize;
    margin-top: 1rem;
}

nav ul li .link {
    display: block;
    text-decoration: none;
    color: var(--white);
    /* letter-spacing: 1px; */
    border: 0px solid red;
    /* text-transform: uppercase; */
    font-family: 'Montserrat-light';

    /* font-size: 20px; */
    font-weight: bold;
    line-height: normal;
    /* padding: 10px 10px 0px 0px; */

    padding-left: 40px;
    /* text-transform: uppercase; */
    /* padding-top: 10px; */
    /* text-align: center; */
    /* border: 1px solid; */

}

nav ul li .link:hover {
    color: red;
    font-size: 16px;
    /* letter-spacing: 1px; */
    /* border-bottom: 1px solid var(--secondary-color); */

}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: var(--white);
    border-radius: 2px;
}

nav ul li ul li {
    width: 180px;
    border-radius: 0px 0px 2px 2px;
    box-sizing: border-box;
    padding: 2px;

}

nav ul li ul li .link {
    padding: 15px 12px;
    color: var(--black);

}

nav ul li ul li .link :hover {
    background-color: gray;
    color: var(--white);
    border-radius: 2px;
}


nav ul li ul li ul {
    display: none;
    position: absolute;
    background-color: var(--white);
    border-radius: 2px;
    margin-left: 180px;
}

nav ul li:hover>ul {
    display: block;
}

nav ul li ul li:hover>ul {
    display: block;
}

.searchicon {
    margin-left: 30px;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    height: 54px;
    justify-content: center;
    width: 54px;
}

.logo {
    align-items: center;
}

.logo__top {
    font-family: 'Montserrat-bold';
    color: #FFF;

    text-align: center;
    font-size: 40px;
    font-style: bold;
    font-weight: 800;
    line-height: normal;
}

.logo__down {
    font-family: 'Montserrat-light';
    width: 228px;
    height: 26px;
    flex-shrink: 0;

    color: #FFF;

    text-align: center;
    /* font-family: Montserrat; */
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 40px;
    margin-left: 10px;
}


.main-nav ul a.active {
    color: #574c4c;
    font-weight: 500;
    position: relative;
}

.main-nav ul a.active::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #574c4c;
}

.header-top {
    background-color: var(--bg-color);
    /* font-weight: bold; */
    border-bottom: 1px solid transparent;
    padding-top: 10px;
    width: 100%;
}

.header-top ul {
    display: flex;
    flex-direction: row;
}

.header-top ul li {
    display: inline-block
}

.header-top-left li,
.header-top-right li {
    display: inline-block
}



.header-top-right ul li a {
    color: #a7b0ba;
    font-size: 12px;
    font-weight: 300
}


.pull-right {
    margin-left: auto;
    margin-right: 0;
}

.vertical-line {
    border-left: 1px solid #dddfe2;
    /* font-size: 10px */
}

.header-top-right li {
    display: inline-block
}

.header-top-contact {
    padding: 10px 18px;

    /* border-right: 1px solid #f6f8fa */
    cursor: pointer;
}

.header-top-contact a {
    border-right: 0;
    /* border-left: 1px solid #f6f8fa; */
    font-size: 12px;
}


.header-top-right ul li a {
    color: #a7b0ba;
    font-size: 12px;
    font-weight: 300
}

.logoShrink {
    height: 60px !important;
    transition: 0.5s;
}

.search-container {
    position: relative;
    display: inline-block;
    margin: 4px 2px;
    height: 50px;
    width: 50px;
    vertical-align: bottom;
}

.mglass {
    display: inline-block;
    pointer-events: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}

.searchbutton {
    position: absolute;
    font-size: 22px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.search:focus+.searchbutton {
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    background-color: white;
    color: black;
}

.search {
    position: absolute;
    left: 49px;
    /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
    background-color: white;
    outline: none;
    border: none;
    padding: 0;
    width: 0;
    height: 100%;
    z-index: 10;
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
}

.search:focus {
    width: 363px;
    /* Bar width+1px */
    padding: 0 16px 0 0;
}

.menu-trigger {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 33px;
    width: 32px;
    height: 40px;
    text-indent: -9999em;
    z-index: 99;
    right: 40px;
    display: none;
}

.menu-trigger {
    top: 23px;
}

.menu-trigger span,
.menu-trigger span:before,
.menu-trigger span:after {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #2a2a2a;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
}



.menu-trigger span:before,
.menu-trigger span:after {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #2a2a2a;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
    width: 75%;
}



.menu-trigger span:before,
.menu-trigger span:after {
    content: "";
}

.menu-trigger span {
    top: 16px;
}

.menu-trigger span:before {
    -moz-transform-origin: 33% 100%;
    -ms-transform-origin: 33% 100%;
    -webkit-transform-origin: 33% 100%;
    transform-origin: 33% 100%;
    top: -10px;
    z-index: 10;
}

.menu-trigger span:after {
    -moz-transform-origin: 33% 0;
    -ms-transform-origin: 33% 0;
    -webkit-transform-origin: 33% 0;
    transform-origin: 33% 0;
    top: 10px;
}

.menu-trigger.active span,
.menu-trigger.active span:before,
.menu-trigger.active span:after {
    background-color: transparent;
    width: 100%;
}

.menu-trigger.active span:before {
    -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
    -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
    -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
    transform: translateY(6px) translateX(1px) rotate(45deg);
    background-color: #2a2a2a;
}


.menu-trigger.active span:after {
    -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    transform: translateY(-6px) translateX(1px) rotate(-45deg);
    background-color: #2a2a2a;
}

.menu-trigger-close {
    position: absolute;
    right: 38px;
    top: 23px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.menu-trigger-close :hover {
    opacity: 1;
}

.menu-trigger-close :before,
.menu-trigger-close :after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.menu-trigger-close :before {
    transform: rotate(45deg);
}

.menu-trigger-close :after {
    transform: rotate(-45deg);
}