.site__header {
    top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.menu__button {
    color: var(--text-color);
}

.menu__button:focus,
.menu__button:hover {
    color: var(--text-color);
    box-shadow: unset;
}

.menu__button svg {
    width: 2em;
    height: 2em;
    fill: var(--text-color-2);
    color: var(--text-color-2);
}

.nav_ac {
    padding: 5px 15px;
    margin: 0;
    border: unset;
    /* background: var(--primary-color); */
    font-size: 1.25rem;
    font-family: 'Montserrat-light';
    color: var(--text-color-2);
    line-height: 2;
    height: 50px;
    font-weight: bold;
    z-index: 1000;
}

.nav_ac:hover {
    color: var(--text-color-2);
}

.br-top,
.br-bottom,
.br-right,
.br-left {
    position: fixed;
    z-index: 999999;
    background: var(--primary-color);
}

.br-top {
    top: 0;
    height: 10px;
    left: 0;
    width: 100%;
}

.br-bottom {
    bottom: 0;
    left: 0;
    height: 10px;
    width: 100%;
}

.br-right {
    width: 10px;
    right: 0;
    top: 0;
    height: 100%;
}

.br-left {
    width: 10px;
    left: 0;
    top: 0;
    height: 100%;
}

.cortina__wrapper-menu {
    position: relative;
    width: 100%;
    padding-top: 5em;
    padding-bottom: 3em;
    height: 100%;
    overflow-y: auto;
}

.site__navigation {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;
}

.menu__opend {
    visibility: visible !important;
}

.main__menu_ul,
.menu_right {
    opacity: 0;
    position: relative;
    transition: 0.5s;
    transition-delay: 0s;
    visibility: hidden;
    z-index: 100;
}

.menu_right {
    text-align: center;
}

.site__navigation.menu__opend .main__menu_ul,
.site__navigation.menu__opend .menu_right {
    opacity: 1;
    transition-delay: 0.6s;
    visibility: visible;
}

.site__navigation .main__menu_ul li {
    list-style: none;
    margin: 10px 0;
}

.site__navigation .main__menu_ul li a {
    color: var(--text-color);
    display: block;
    font-size: 2.5rem;
    text-decoration: none;
}

.bg__menu {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    will-change: transform;
    transform: translateY(-100%);
    transition: .5s ease all;
}

.menu__opend .bg__menu {
    transform: translateY(0);
}

.menu__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden auto;
}

.the_menu {
    padding-top: 20vh;
    padding-bottom: 20vh;
    padding-left: 0;
}

@media (min-width: 992px) {
    .menu__container {
        margin-left: 33.3333%;
    }

    .the_menu {
        padding-top: 10vh;
        padding-bottom: 10vh;
    }
}

.the_menu .menu_item>a {
    color: var(--text-color-2);
    line-height: 1;
    font-size: 2rem;
    display: inline-block;
    position: relative;
    transition: color 250ms cubic-bezier(0, 0, 0.58, 1) 0s;
    padding: 4px 0px;
    text-decoration: none;
    font-family: 'Montserrat-light';
}

.the_menu .menu_item>a:hover {
    color: var(--text-color-3);
}

@media (min-width: 768px) {
    .the_menu .menu_item>a {
        font-size: 4.8vw;
    }
}

.menu_footer {
    bottom: 0;
    font-family: 'Montserrat-light';
    font-size: 14px;
    background: var(--primary-color);
}

.menu_footer a {
    color: var(--text-color-2);
    margin-right: 10px;
    text-decoration: none;
}

.sign__up {
    border: 1px solid;
    border-radius: 60px;
    /* height: 50px; */
    /* width: 100px; */
    font-size: 14px;
    align-items: center;
    font-family: 'Montserrat-light';
    letter-spacing: 0px;
    font-weight: 400;
    line-height: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 50px;

    /* background: var(--bg-div-overlay-color); */
    /* background: rgba(red, green, blue, 0.9); */

}

nav {
    /* height: var(--navheight); */
    /* border-top: 1px solid rgb(255, 255, 255, 0.2); */
    width: 90%;
    margin: 20px auto 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav h4 {
    /* color: var(--white); */
    /* line-height: var(--navheight); */
    /* text-transform: uppercase; */

    letter-spacing: 2px;
    float: left;
    /* padding: 0px 60px; */


}

nav i {
    font-size: 11px;
}

nav ul li ul li i {
    float: right;
}

nav ul {
    float: right;
    display: flex;
    align-items: center;
}

nav ul li {
    position: relative;
    float: left;
    list-style-type: none;
}

nav ul li .link {
    display: block;
    text-decoration: none;
    color: var(--white);
    /* letter-spacing: 1px; */
    border: 0px solid red;
    /* text-transform: uppercase; */
    font-family: 'Montserrat-light';

    /* font-size: 20px; */
    font-weight: 400;
    line-height: normal;
    /* padding: 10px 10px 0px 0px; */
    padding-left: 40px;
    /* padding-top: 10px; */
    /* text-align: center; */
    /* border: 1px solid; */

}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: var(--white);
    border-radius: 2px;
}

nav ul li ul li {
    width: 180px;
    border-radius: 0px 0px 2px 2px;
    box-sizing: border-box;
    padding: 2px;
}

nav ul li ul li .link {
    padding: 15px 12px;
    color: var(--black);
}

nav ul li ul li .link :hover {
    background-color: gray;
    color: var(--white);
    border-radius: 2px;
}


nav ul li ul li ul {
    display: none;
    position: absolute;
    background-color: var(--white);
    border-radius: 2px;
    margin-left: 180px;
}

nav ul li:hover>ul {
    display: block;
}

nav ul li ul li:hover>ul {
    display: block;
}

.logo {
    align-items: center;
}

.logo__top {
    font-family: 'Montserrat-bold';
    color: #FFF;

    text-align: center;
    font-size: 40px;
    font-style: bold;
    font-weight: 800;
    line-height: normal;
}

.logo__down {
    font-family: 'Montserrat-light';
    width: 228px;
    height: 26px;
    flex-shrink: 0;

    color: #FFF;

    text-align: center;
    /* font-family: Montserrat; */
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-top {
    background-color: var(--bg-color);
    border-bottom: 1px solid red;
    padding-top: 10px;
    width: 100%;
}

.header-top ul {
    display: flex;
    flex-direction: row;
}

.header-top ul li {
    display: inline-block
}

.header-top-left li,
.header-top-right li {
    display: inline-block
}



.header-top-right ul li a {
    color: #a7b0ba;
    font-size: 12px;
    font-weight: 300
}


.pull-right {

    margin-left: auto;
    margin-right: 0;
}

.vertical-line {
    border-left: 1px solid #dddfe2;
    /* font-size: 10px */
}

.header-top-right li {
    display: inline-block
}

.header-top-contact {
    padding: 10px 18px;
    /* border-right: 1px solid #f6f8fa */
}

.header-top-contact {
    border-right: 0;
    /* border-left: 1px solid #f6f8fa; */
    font-size: 12px
}


.header-top-right ul li a {
    color: #a7b0ba;
    font-size: 12px;
    font-weight: 300
}