.toggle-container {
    background: var(--bg-color);
    z-index: 999999999;
    right: 0;
    margin-right: 0;
    /* left: 10px; */
    /* display: flex; */
    /* height: 50px; */
    /* align-items: center; */
    padding-left: 10px;
    /* padding-right: 20px; */
}

.toggle-container svg {
    width: 2rem;
    height: 2em;
}