
@media (max-width: 1024px) {
    .menu-trigger,.menu-trigger-close {
        display: block;
        top: 100px;
    }
    
    .nav-elements {
        position: absolute;
        right: 0;
        top: 60px;
        background-color: var(--bg-color);
        width: 0px;
        height: calc(100vh - 60px);
        transition: all 0.3s ease-in;
        overflow: hidden;
        display: flex;
        align-items: start;
        justify-content: center;
    }

    .nav-elements.active {
        /* width: 270px; */
        width: 100%;
    }

    .nav-elements ul {
        display: flex;
        flex-direction: column;
    }

    .nav-elements ul li {
        margin-right: unset;
        margin-top: 22px;
    }
}

@media (max-width: 767px) {

    .header-top,
    .hide-toggle {
        display: none;
    }


    .pull-right {
        margin-left: 0;
        /* margin-right: 0; */
    }
    .menu-trigger,.menu-trigger-close {
        display: block;
        top: 20px;
    }

    .logo__down img {
        padding-bottom: 10px;
        height: 80px;
        width: 80px;
        float: left;
    }

    .nav-elements {
        position: absolute;
        right: 0;
        top: 60px;
        background-color: var(--bg-color);
        width: 0px;
        height: calc(100vh - 60px);
        transition: all 0.3s ease-in;
        overflow: hidden;
        display: flex;
        align-items: start;
        justify-content: center;
    }

    .nav-elements.active {
        /* width: 270px; */
        width: 100%;
    }

    .nav-elements ul {
        display: flex;
        flex-direction: column;
    }

    .nav-elements ul li {
        margin-right: unset;
        margin-top: 22px;
    }

    .loader h1 {
        font-size: 120px;
    }

    .loader h6 {
        font-size: 18px;
    }

    .intro_sec {
        /* margin-top: 100px; */

    }

    .qr__code_image img img {

        display: block;
    }

    .qr__code_image img {
        height: 320px;
        width: 100%;
        display: block;
        position: relative;
    }

    .footer-img {
        height: 70px;
    }

    .ng_container {
        /* font-size: 16px; */
        padding: 0;
        max-width: 100%;
    }

    .quote-text span,
    marker {
        font-size: 25px;
        letter-spacing: -1px;
        line-height: normal;
    }

    .fw-bold {

        font-size: 1.5rem;
        /* color: rgb(56, 55, 55); */

        letter-spacing: -1.5px;
        line-height: 55px;

    }

    .teams_title {

        font-size: 30px;

    }

    .popupContainer {
        margin: 0;
        padding: 0;
        left: 10%;
        right: 10%;
        /* top: 20%;     */

    }

    .main-search {
        padding: 30px 0px;
    }

    .innerinput {
        flex-direction: column;
    }

    .main-search .search_field_bar {
        width: 100%;
    }

    .close-btn {

        right: 20px;
        top: 0;

    }

    .shape {
        clip-path: polygon(1% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    }

    .stick_follow_icon {
        display: none;
    }

    .heritage_map_container {
        margin-top: 100px;
    }

    .heritage-img {
        height: 50vh;
        width: 100%;
        object-fit: cover;
    }

    .heritage_map_container {
        /* margin-left: 10px;
        margin-right: 0%; */
    }

    .showcase {
        padding: 0;
    }


    .team-container {

        flex-direction: column;
    }

    .stats___container{

    }
    .leaflet-container{height: 40vh;}


    .heritage__container{
        display: flex;
    }
    .scroll-container {
        overflow-x: auto;
        white-space: nowrap;
        width: 100%;
        max-width: 100%;
      }
      
      .scroll-content {
        display: inline-flex; 
        padding: 10px; 
      }
      .scroll-container::-webkit-scrollbar {
        width: 6px; /* Adjust the width of the scrollbar as needed */
      }
      
      .scroll-container::-webkit-scrollbar-thumb {
        background-color: transparent; /* Set the thumb color to transparent */
      }
      .service-item{
        margin: 10px;
      }
      .playstore_image{
        display: flex;
        flex-direction: column;
       }
      .playstore_image img{
       height: 90;
       margin-top: 10;
       }
       .map_detail{
        padding: 0;
        margin:0 ;
       }
}
